body {
  color: black;
  margin: 0;
  display: flex;
  justify-content: center;
}

.app-bar button {
  margin-left: 8px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1180px;
  width: 100%;
  background: whitesmoke;
}

header {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.top-bar h1 {
  margin: 0px;
  padding: 4px 0px;
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

header li {
  list-style-type: none;
}

main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

a:link,
a:visited {
  text-decoration: none;
  color: #4285f4;
}

.login-page-links {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page-links > div {
  margin: 8px;
}

/* *********Form style************ */

.formText span {
  color: red;
  display: inline;
}

.formText {
  display: flex;
  justify-content: center;
}

.formText div {
  min-width: 80%;
}

.simple-card {
  padding: 10px;
  margin: auto;
  margin-top: 10%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid lightgrey;
  box-shadow: 5px 5px -6px grey;
}

.register-form div {
  margin: 0;
}

.form-input {
  width: 100%;
}

.app-tabs {
  background-color: #f5f5f5;
  border-bottom: 1px dotted gray;
}

.dashboard-tab {
  width: 100%;
}

.search-area-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-area-info > * {
  flex: 1;
}

.search-area-info h4 span {
  font-weight: normal;
  margin: 0px 16px;
}

/* *********Pal Card ********** */
.pal-container {
  margin: 0;
  padding: 5px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pal-cards {
  min-width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
}
.pal-card {
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  min-width: 75%;
  max-width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid rgb(81, 160, 250);
  border-radius: 10px;
}

.pal-card-image {
  min-width: 25%;
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}

.pal-card-image img {
  margin-bottom: 4px;
}

.pal-card-info {
  min-width: 55%;
  max-width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  align-items: left;
}

.pal-card-info ul {
  padding: 0;
}
.pal-card-info span {
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(19, 73, 134);
}

ul span {
  color: rgb(19, 73, 134);
}

.pal-chat {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.pal-chat .messages-window {
  flex: 1;
  overflow-y: scroll;
}

.message-unread {
  font-weight: 700;
}
